Clarify `LANGMATCHES` specification

The current definition of [`LANGMATCHES`](https://w3c.github.io/sparql-query/spec/#func-langMatches) reads:

> `xsd:boolean  langMatches (xsd:string language-tag, xsd:string language-range)`
> Returns true if the language tag (first argument) matches language-range (second argument). Otherwise, the function returns false. Matching is performed according to the basic filtering scheme defined in [RFC4647] section 3.3.1. language-range is a basic language range per Matching of Language Tags [RFC4647] section 2.1. A language-range of "*" matches any non-empty language-tag string. Otherwise, the function returns false.

I think there's an implicit assumption here that the `language-range` is in fact a valid language range per the RFC (similarly for `language-tag` being a valid language tag). In most cases, if it weren't I think it would necessarily *not* match any valid `language-tag`. However, in the case of `language-range` being an empty string (which is not a syntactically valid range), I think there's some ambiguity here. A generous reading would just fall through to the "otherwise return false" text, but I think a better handling here would raise an error if the input variables don't conform to the expected form (which in many cases would likely have the same overall behavior as returning `false`). Either way, I think improving the text to explicitly define what happens in the case of invalid language tags and ranges would be good.

Please can we have some concrete examples? (and then some test cases - we can use test cases to clarify, or even capture preferred behaviour)

The `""` case is different from the invalid, non-empty language-tag case.

The RDF data and SPARQL grammars allow invalid but non-empty strings (+ see below). I think we have be cautious because there is public data with improper language tags and we have to live with that.

> if it weren't I think it would necessarily not match any valid language-tag. 

How can an invalid language-range basic-match a valid language tag? or a RDF/SPARQL grammar-compliant language tag?

RFC 4647 -->
>   A language range matches a
>   particular language tag if, in a case-insensitive comparison, it
>   exactly equals the tag, or if it exactly equals a prefix of the tag
>   such that the first character following the prefix is "-"

The following character rule is what makes a range a subtag sequence prefix, not string prefix. (The RFC could have mentioned that!)

A string of `""` does not match a valid language-tag because the language tag can not start with "-".


Aside for the grammar, the other place in SPARQL is term-constructors:

> 17.4.2.16 STRLANG
> 17.4.2.17 STRLANGDIR
>
> The argument langTag MUST not be an empty string and SHOULD be a a valid [language tag](https://www.w3.org/TR/rdf12-concepts/#dfn-language-tag).
